* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #0d1117;
}

.memory-game {
  width: 700px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  background: #1e2631;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* Highlight for matched cards, but only when the card is face-up (.flip) */
.memory-card.flip.matched {
  box-shadow: #0091f3 0px 0px 15px;
  transform: rotateY(180deg);
  border-radius: 25px;
  transition: transform .3s, box-shadow .3s, border .3s;
}

.memory-card.flip.matched .back-face {
  background: linear-gradient(135deg, #152027 0%, #1e2b2f 100%);
}

.memory-card.flip.matched .front-face {
  background: #0965ef;
}